## Start by ignoring everything
*
# But descend into directories
!*/
# Un-ignore specific files under subtree
!1.LANDIS-MODEL/**
!9.FIA/**
!DOCS/**
!tools/**
!QFVD4/**
!QFVD5/**
# Do not ignore these files
!.gitignore
!README*
!*.py
!*.R
!*.Rmd
# Ignore these files
.DS_Store
__pycache__
.ipynb_checkpoints
*.o
*.dat 
*.mod 
*.png 
*.txt
*.out
*.log
*.pyc
# Ignore these directories
1.LANDIS-MODEL/LANDIS_run/**
1.LANDIS-MODEL/FIA_proc/**
1.LANDIS-MODEL/FF_Fuel/**
1.LANDIS-MODEL/Shapefiles/**
1.LANDIS-MODEL/LANDIS_run_old/**
1.LANDIS-MODEL/LANDIS_migrated/**
1.LANDIS-MODEL/LANDIS_run-Fire2-Dry/**
1.LANDIS-MODEL/LANDIS_run-Fire2-Wet/**
1.LANDIS-MODEL/LANDIS_run-Fire5-Dry/**
1.LANDIS-MODEL/LANDIS_run-Fire5-Wet/**
1.LANDIS-MODEL/LANDIS_run-NoScrapple/**
1.LLM-HSM-MODEL/**
5.TREES-QUICFIRE/**
7.QUICFIRE-MODEL/**
7.QUICFIRE-MODEL-OLD/**
8.CROWN-SCORCH/**
9.FIA/RF_models/**
9.FIA/FIA_raw/**
.Rproj.user
.Rhistory